@page "/"
@page "/{groupId}"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable
@implements IDisposable
<!--HTML-->

<h3>OnlineRoom</h3>
<label>INFO: "@errorLabel"</label>
<div class="form-group">

    @if (string.IsNullOrWhiteSpace(groupId))
    {
        <input id="UsernameInput" @bind="player.Username" placeholder="Username" />
        <label>Create or join a room.</label>
        <button class="btn btn-primary" @onclick="CreateRoom"> Create</button>
        <label>Join</label>
        <input id="groupPut" @bind="groupInput" placeholder="GroupID" />
        <button class="btn btn-primary" @onclick="JoinRoom">Join room</button>
    }
    else
    {
        <label>You are in room: "@groupId"</label>
    }
</div>

<div class="form-group">
    <button @onclick="RandomOperatorAndSend" disabled="@(!IsConnected)"> Random Operator</button>
</div>

<div class="row">
    @foreach (var player in players)
    {
        <div class="col-md-6">
            <img class="" src="Images/@(player.CurrentOperator).webp" style="width: 100px" />
            <h5 class="d-flex align-items-center">@player.Username: @player.CurrentOperator</h5>

        </div>
    }

</div>
<!-- CODE -->
@code {
    private HubConnection hubConnection;
    //private List<string> messages = new List<string>();
    private string groupInput = ""; //This binds with input
    [Parameter]
    public string groupId { get; set; } //this is where the group gets stored.
    private string errorLabel = "";
    private bool groupJoined = false;
    private Player player = new Player();
    private List<Player> players = new List<Player>();

    protected override async Task OnInitializedAsync()
    {
        //Roll random operator
        player.GetRandomOperator();
        //player.ConnectionId = hubConnection.ConnectionId;
        //Maybe set to communicationhub
        hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/onlineroom"))
        .Build();

        //When a player joins
        hubConnection.On<Player>("GetPlayer", player =>
        {
            errorLabel = "Spiller tilføjet";

            //Find if user exists already, if exists then replace with new player object
            int index = players.FindIndex(p => p.ConnectionId == player.ConnectionId);
            if (index != -1)
            {
                players[index] = player;
            }
            else
            {
                players.Add(player);
            }
            StateHasChanged();
        });

        hubConnection.On<string>("PlayerDisconnected", player =>
        {
            errorLabel = "Player Disconnected";

            //Find if user exists already, if exists then replace with new player object
            int index = players.FindIndex(p => p.ConnectionId == player);
            if (index != -1)
            {
                players.Remove(players[index]);
            }

            StateHasChanged();
        });

        hubConnection.On<Player>("PlayerConnected", async receivedPlayer =>
        {
            errorLabel = receivedPlayer.Username;

            players.Add(receivedPlayer);

            //await hubConnection.SendAsync("GetOtherPlayers", groupId, this.player);
            await SendAPlayer();

            StateHasChanged();
        });
        hubConnection.On<Player>("SendPlayer", async nothing =>
        {
            errorLabel = nothing.Username;

            await SendAPlayer();

            StateHasChanged();
        });

        await hubConnection.StartAsync();

        //If group parameter is set, then join group
        if (!string.IsNullOrWhiteSpace(groupId) && groupJoined != true)
        {
            //set this or it will be overwritten in joinroom
            groupInput = groupId;
            await JoinRoom();
        }
    }


    async Task CreateRoom()
    {
        Random rnd = new Random();
        string group = "";
        for (int i = 0; i < 7; i++)
        {
            group += rnd.Next(1, 9);
        }
        groupId = group;
        await hubConnection.SendAsync("JoinRoomAndSendPlayer", group, player);
        //await SendAPlayer();
    }

    async Task JoinRoom()
    {
        errorLabel = "Rum tilsluttet";
        groupId = groupInput;
        groupJoined = true;
        await hubConnection.SendAsync("JoinRoomAndSendPlayer", groupId, player);
    }

    async Task SendAPlayer() =>
    await hubConnection.SendAsync("SendPlayer", this.player, this.groupId);

    public async void RandomOperatorAndSend()
    {
        player.GetRandomOperator();
        await SendAPlayer();
    }


    public bool IsConnected =>
    hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }

    public void Dispose()
    {
        hubConnection.DisposeAsync();
    }
}
